<a href="https://colab.research.google.com/github/ardwiinoo/python/blob/main/basic/basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### #1 Hello World

In [7]:
import time
start_time = time.time()

print("Hello World!")

# Comment single line

print(time.time() - start_time, "detik")

Hello World!
0.001739501953125 detik

### #2 Variabel

In [13]:
# tempat menyimpan data
# assignment nilai / menaruh
a = 10
x = 5
seribu = 1000

print("Nilai a = ", a)
print("Nilai x = ", x)
print("Nilai seribu = ", seribu)

# penamaan
nilai_y = 15 
juta10 = 10000000 # 10juta = ... ini ga boleh ges
nilaiZ = 17.5

a = 7
print("Nilai a = ", a)

# assignment indirect
b = a
print("Nilai b = ", b)

Nilai a =  10
Nilai x =  5
Nilai seribu =  1000
Nilai a =  7
Nilai b =  7

### #3 Tipe Data

In [24]:
# tipe data: Angka satuan (integer)
data_integer = 1
print("data : ", data_integer, ", bertipe : ", type(data_integer))

# tipe data: Angka dengan koma (float)
data_float = 1.5
print("data : ", data_float, ", bertipe : ", type(data_float))

# tipe data: Kumpulan karakter (string)
data_string = "Awas jatoh"
print("data : ", data_string, ", bertipe : ", type(data_string))

# tipe data: Biner true/false (boolean)
data_bool = True
print("data : ", data_bool, ", bertipe : ", type(data_bool))

## tipe data khusus
# bilangan kompleks
data_complex = complex(5,6)
print("data : ", data_complex, ", bertipe : ", type(data_complex))

# tipe data dari bahasa C
from ctypes import c_double, c_char, c_long

data_c_double = c_double(10.5)
print("data : ", data_c_double, ", bertipe : ", type(data_c_double))

data :  1 , bertipe :  <class 'int'>
data :  1.5 , bertipe :  <class 'float'>
data :  Awas jatoh , bertipe :  <class 'str'>
data :  True , bertipe :  <class 'bool'>
data :  (5+6j) , bertipe :  <class 'complex'>
data :  c_double(10.5) , bertipe :  <class 'ctypes.c_double'>

### #4 Casting Tipe Data

In [28]:
# merubah satu tipe ke tipe lain

data_int = 9
print("data : ", data_int, ", bertipe : ", type(data_int))

data_float = float(data_int)
data_str = str(data_int)
data_bool = bool(data_int)

print("data : ", data_float, ", bertipe : ", type(data_float))
print("data : ", data_str, ", bertipe : ", type(data_str))
print("data : ", data_bool, ", bertipe : ", type(data_bool)) # 0 = false, != 0 true

data_int = int(data_float)
print("data : ", data_int, ", bertipe : ", type(data_int)) # dibulatkan kebawah

data :  9 , bertipe :  <class 'int'>
data :  9.0 , bertipe :  <class 'float'>
data :  9 , bertipe :  <class 'str'>
data :  True , bertipe :  <class 'bool'>
data :  9 , bertipe :  <class 'int'>