<a href="https://colab.research.google.com/github/ardwiinoo/python/blob/main/basic/basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### #1 Hello World

In [ ]:
import time
start_time = time.time()

print("Hello World!")

# Comment single line

print(time.time() - start_time, "detik")

Hello World!
0.001739501953125 detik

### #2 Variabel

In [ ]:
# tempat menyimpan data
# assignment nilai / menaruh
a = 10
x = 5
seribu = 1000

print("Nilai a = ", a)
print("Nilai x = ", x)
print("Nilai seribu = ", seribu)

# penamaan
nilai_y = 15 
juta10 = 10000000 # 10juta = ... ini ga boleh ges
nilaiZ = 17.5

a = 7
print("Nilai a = ", a)

# assignment indirect
b = a
print("Nilai b = ", b)

Nilai a =  10
Nilai x =  5
Nilai seribu =  1000
Nilai a =  7
Nilai b =  7

### #3 Tipe Data

In [ ]:
# tipe data: Angka satuan (integer)
data_integer = 1
print("data : ", data_integer, ", bertipe : ", type(data_integer))

# tipe data: Angka dengan koma (float)
data_float = 1.5
print("data : ", data_float, ", bertipe : ", type(data_float))

# tipe data: Kumpulan karakter (string)
data_string = "Awas jatoh"
print("data : ", data_string, ", bertipe : ", type(data_string))

# tipe data: Biner true/false (boolean)
data_bool = True
print("data : ", data_bool, ", bertipe : ", type(data_bool))

## tipe data khusus
# bilangan kompleks
data_complex = complex(5,6)
print("data : ", data_complex, ", bertipe : ", type(data_complex))

# tipe data dari bahasa C
from ctypes import c_double, c_char, c_long

data_c_double = c_double(10.5)
print("data : ", data_c_double, ", bertipe : ", type(data_c_double))

data :  1 , bertipe :  <class 'int'>
data :  1.5 , bertipe :  <class 'float'>
data :  Awas jatoh , bertipe :  <class 'str'>
data :  True , bertipe :  <class 'bool'>
data :  (5+6j) , bertipe :  <class 'complex'>
data :  c_double(10.5) , bertipe :  <class 'ctypes.c_double'>

### #4 Casting Tipe Data

In [ ]:
# merubah satu tipe ke tipe lain

data_int = 9
print("data : ", data_int, ", bertipe : ", type(data_int))

data_float = float(data_int)
data_str = str(data_int)
data_bool = bool(data_int)

print("data : ", data_float, ", bertipe : ", type(data_float))
print("data : ", data_str, ", bertipe : ", type(data_str))
print("data : ", data_bool, ", bertipe : ", type(data_bool)) # 0 = false, != 0 true

data_int = int(data_float)
print("data : ", data_int, ", bertipe : ", type(data_int)) # dibulatkan kebawah

data :  9 , bertipe :  <class 'int'>
data :  9.0 , bertipe :  <class 'float'>
data :  9 , bertipe :  <class 'str'>
data :  True , bertipe :  <class 'bool'>
data :  9 , bertipe :  <class 'int'>

### #5 Mengambil Input User

In [ ]:
data = input("Masukkan data: ")
print("data = ", data, ", type = ", type(data))

data = int(input("Masukkan data: "))
print("data = ", data, ", type = ", type(data))

data = float(input("Masukkan data: "))
print("data = ", data, ", type = ", type(data))

data = bool(int(input("Masukkan data: ")))
print("data = ", data, ", type = ", type(data))

Masukkan data: 100
data =  100 , type =  <class 'str'>
Masukkan data: 2
data =  2 , type =  <class 'int'>
Masukkan data: 2.6
data =  2.6 , type =  <class 'float'>
Masukkan data: 0
data =  False , type =  <class 'bool'>

### #6 Aritmatika

In [ ]:
a = 10
b = 3

hasil = a + b
print(a, '+', b, '=', hasil)

hasil = a - b
print(a, '-', b, '=', hasil)

hasil = a / b
print(a, '/', b, '=', hasil)

hasil = a * b
print(a, '*', b, '=', hasil)

# eksponen (pangkat)
hasil = a ** b
print(a, '**', b, '=', hasil)

# modulus (sisa bagi)
hasil = a % b
print(a, '%', b, '=', hasil)

# floor division (bagi tapi double, kebalikan modulus)
hasil = a // b
print(a, '//', b, '=', hasil)

# prioritas operasi
"""
  1. ()
  2. exponen **
  3. perkalian dan teman-teman * / ** % //
  4. pertambahan dan pengurangan
"""
x = 3
y = 2
z = 4

hasil = x ** y * z + x / y - y % z // x
print("Hasil = ", hasil)

10 + 3 = 13
10 - 3 = 7
10 / 3 = 3.3333333333333335
10 * 3 = 30
10 ** 3 = 1000
10 % 3 = 1
10 // 3 = 3
Hasil =  37.5

### #7 Perhitungan Sederhana

In [1]:
# Program konversi suhu

print("PROGRAM KONVERSI TEMPERATUR");

celcius = float(input("Masukkan suhu dalam celcius : "))
print("Suhu adalah = ", celcius, " celcius")

# Reamur
reamur = (4/5) * celcius
print("Suhu adalah = ", reamur, " reamur")

# Fahrenheit
fahrenheit = ((9/5) * celcius) + 32
print("Suhu adalah = ", fahrenheit, " fahrenheit")

# Kelvin
kelvin = celcius + 273
print("Suhu adalah = ", kelvin, " kelvin")

PROGRAM KONVERSI TEMPERATUR
Masukkan suhu dalam celcius : 10
Suhu adalah =  10.0  celcius
Suhu adalah =  8.0  reamur
Suhu adalah =  50.0  fahrenheit
Suhu adalah =  283.0  kelvin

### #8 Operasi Komparasi

In [2]:
# operasi komparasi

# setiap hasil dari operasi komparasi adalah boolean

# >,<,>=,<=,==,!=,is,is not

a = 4
b = 2

# lebih besar dari >
print('========== lebih besar dari (>)')
hasil = a > 3
print(a,'>',3,'=',hasil)
hasil = b > 3
print(b,'>',3,'=',hasil)
hasil = b > 2
print(b,'>',2,'=',hasil)

# kurang dari <
print('========== kurang dari (<)')
hasil = a < 3
print(a,'<',3,'=',hasil)
hasil = b < 3
print(b,'<',3,'=',hasil)
hasil = b < 2
print(b,'<',2,'=',hasil)

# lebih dari sama dengan >=
print('========== lebih dari sama dengan(>=)')
hasil = a >= 3
print(a,'>=',3,'=',hasil)
hasil = b >= 3
print(b,'>=',3,'=',hasil)
hasil = b >= 2
print(b,'>=',2,'=',hasil)

# kurang dari sama dengan <=
print('======== kurang dari sama dengan(<=)')
hasil = a <= 3
print(a,'<=',3,'=',hasil)
hasil = b <= 3
print(b,'<=',3,'=',hasil)
hasil = b <= 2
print(b,'<=',2,'=',hasil)

# sama dengan (==)
print('======== sama dengan(==)')
hasil = a == 4
print(a,'==',4,'=',hasil)
hasil = b == 4
print(b,'==',4,'=',hasil)

# tidak sama dengan (!=)
print('======== sama dengan(!=)')
hasil = a != 4
print(a,'!=',4,'=',hasil)
hasil = b != 4
print(b,'!=',4,'=',hasil)

# 'is' sebagai komparasi object identity
print('======== object identity(is)')
x = 5 # ini adalah assignment membuat object
y = 5
print('nilai x =',x,',id = ',hex(id(x)))
print('nilai y =',y,',id = ',hex(id(y)))
hasil = x is y
print('x is y =',hasil)

x = 5 # ini adalah assignment membuat object
y = 6
print('nilai x =',x,',id = ',hex(id(x)))
print('nilai y =',y,',id = ',hex(id(y)))
hasil = x is y
print('x is y =',hasil)

print('======== object identity(is not)')
x = 5 # ini adalah assignment membuat object
y = 5
print('nilai x =',x,',id = ',hex(id(x)))
print('nilai y =',y,',id = ',hex(id(y)))
hasil = x is not y
print('x is y =',hasil)

x = 5 # ini adalah assignment membuat object
y = 6
print('nilai x =',x,',id = ',hex(id(x)))
print('nilai y =',y,',id = ',hex(id(y)))
hasil = x is not y
print('x is y =',hasil)

========== lebih besar dari (>)
4 > 3 = True
2 > 3 = False
2 > 2 = False
========== kurang dari (<)
4 < 3 = False
2 < 3 = True
2 < 2 = False
========== lebih dari sama dengan(>=)
4 >= 3 = True
2 >= 3 = False
2 >= 2 = True
======== kurang dari sama dengan(<=)
4 <= 3 = False
2 <= 3 = True
2 <= 2 = True
======== sama dengan(==)
4 == 4 = True
2 == 4 = False
======== sama dengan(!=)
4 != 4 = False
2 != 4 = True
======== object identity(is)
nilai x = 5 ,id =  0xabc180
nilai y = 5 ,id =  0xabc180
x is y = True
nilai x = 5 ,id =  0xabc180
nilai y = 6 ,id =  0xabc1a0
x is y = False
======== object identity(is not)
nilai x = 5 ,id =  0xabc180
nilai y = 5 ,id =  0xabc180
x is y = False
nilai x = 5 ,id =  0xabc180
nilai y = 6 ,id =  0xabc1a0
x is y = True

### #9 Operasi Logika Boolean

In [3]:
# operasi logika atau boolean

# not, or, and, xor

# NOT
print('====NOT====')
a = False
c = not a
print('data a =',a)
print('-------------- NOT')
print('data c =',c)

# OR (jika salah satu true, maka hasilnya adalah true)
print('====OR====')
a = False
b = False
c = a or b
print(a,'OR',b,'=',c)
a = False
b = True
c = a or b
print(a,'OR',b,' =',c)
a = True
b = False
c = a or b
print(a,' OR',b,'=',c)
a = True
b = True
c = a or b
print(a,' OR',b,' =',c)

# AND (jika dua buah nilai true, maka hasil true)
print('====AND====')
a = False
b = False
c = a and b
print(a,'AND',b,'=',c)
a = False
b = True
c = a and b
print(a,'AND',b,' =',c)
a = True
b = False
c = a and b
print(a,' AND',b,'=',c)
a = True
b = True
c = a and b
print(a,' AND',b,' =',c)

# XOR (akan true jika salah satu true, sisanya false)
print('====XOR====')
a = False
b = False
c = a ^ b
print(a,'XOR',b,'=',c)
a = False
b = True
c = a ^ b
print(a,'XOR',b,' =',c)
a = True
b = False
c = a ^ b
print(a,' XOR',b,'=',c)
a = True
b = True
c = a ^ b
print(a,' XOR',b,' =',c)

====NOT====
data a = False
-------------- NOT
data c = True
====OR====
False OR False = False
False OR True  = True
True  OR False = True
True  OR True  = True
====AND====
False AND False = False
False AND True  = False
True  AND False = False
True  AND True  = True
====XOR====
False XOR False = False
False XOR True  = True
True  XOR False = True
True  XOR True  = False

### #10 Latihan Komparasi dan Logika

In [4]:
# episode latihan logika dan komparasi

# membuat gabungan area rentang dari angka

# ++++++3--------10+++++++

inputUser = float(input("masukan angka yang bernilai\nkurang dari 3 \natau \nlebih besar dari 10\n:"))

# ++++++3-----------------
# Memeriksa angka kurang dari 3
isKurangDari = (inputUser < 3)
print("Kurang dari 3 =", isKurangDari)

# ---------------10++++++++
# Memeriksa angka lebih dari 10
isLebihDari = (inputUser > 10)
print("Lebih dari 10 =", isLebihDari)

# ++++++3--------10+++++++

isCorrect = isKurangDari or isLebihDari
print("angka yang anda masukan: ", isCorrect)


# -----3++++++++10--------
# kasus irisan
print("\n",10*"=","\n")
inputUser = float(input("masukan angka yang bernilai\nlebih dari 3 \ndan \nkurang dari 10\n:"))

# -----3++++++++++++++++++
# lebih dari 3
isLebihDari = inputUser > 3
print("Lebih dari 3 = ",isLebihDari)

# +++++++++++++++10-------
# kurang dari 10
isKurangDari = inputUser < 10
print("Kurang dari 10 = ",isKurangDari)

# -----3++++++++10--------
isCorrect = isKurangDari and isLebihDari
print("angka yang anda masukan: ", isCorrect)

masukan angka yang bernilai
kurang dari 3
atau
lebih besar dari 10
:1
Kurang dari 3 = True
Lebih dari 10 = False
angka yang anda masukan:  True

 ==========

masukan angka yang bernilai
lebih dari 3
dan
kurang dari 10
:8
Lebih dari 3 =  True
Kurang dari 10 =  True
angka yang anda masukan:  True

### #11 Operator Bitwise

In [5]:
# episode operator bitwise, operasi biner, binary

a = 9
b = 5

# bitwise OR (|)
c = a | b
print('\n=========OR=========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('nilai :',b,' , binary :',format(b,'08b'))
print('----------------------------- (|)')
print('nilai :',c,' , binary :',format(c,'08b'))

# bitwise AND (&)
c = a & b
print('\n=========AND========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('nilai :',b,' , binary :',format(b,'08b'))
print('----------------------------- (&)')
print('nilai :',c,' , binary :',format(c,'08b'))

# bitwise XOR (^)
c = a ^ b
print('\n=========XOR========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('nilai :',b,' , binary :',format(b,'08b'))
print('----------------------------- (^)')
print('nilai :',c,' , binary :',format(c,'08b'))

# bitwise NOT (~)
c = ~a
print('\n=========NOT========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('----------------------------- (~)')
print('nilai :',c,' , binary :',format(c,'08b'))
print('----------------------------- (^)')
d = 0b0000001001
e = 0b1111111111
print('nilai :',e^d,' , binary :',format(e^d,'08b'))

# shifting

# shift right (>>)
c = a >> 2
print('\n=========>>=========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('----------------------------- (>>)')
print('nilai :',c,' , binary :',format(c,'08b'))

# shift left (<<)
c = a << 2
print('\n=========<<=========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('----------------------------- (<<)')
print('nilai :',c,' , binary :',format(c,'08b'))

=========OR=========
nilai : 9  , binary : 00001001
nilai : 5  , binary : 00000101
----------------------------- (|)
nilai : 13  , binary : 00001101

=========AND========
nilai : 9  , binary : 00001001
nilai : 5  , binary : 00000101
----------------------------- (&)
nilai : 1  , binary : 00000001

=========XOR========
nilai : 9  , binary : 00001001
nilai : 5  , binary : 00000101
----------------------------- (^)
nilai : 12  , binary : 00001100

=========NOT========
nilai : 9  , binary : 00001001
----------------------------- (~)
nilai : -10  , binary : -0001010
----------------------------- (^)
nilai : 1014  , binary : 1111110110

=========>>=========
nilai : 9  , binary : 00001001
----------------------------- (>>)
nilai : 2  , binary : 00000010

=========<<=========
nilai : 9  , binary : 00001001
----------------------------- (<<)
nilai : 36  , binary : 00100100

### #12 Operator Assignment

In [6]:
# operasi yang dapat dilakukan dengan penyingkatan
# operasi ditambah dengan assignment

a = 5 # adalah assignment
print("nilai a =",a)

a += 1 # artinya adalah a = a + 1
print("nilai a += 1, nilai a menjadi",a)

a -= 2 # artinya adalah a = a - 2
print("nilai a -= 2, nilai a menjadi",a)

a *= 5 # artinya adalah a = a * 5
print("nilai a *= 5, nilai a menjadi",a)

a /= 2 # artinya adalah a = a / 2
print("nilai a /= 2, nilai a menjadi",a)

b = 10
print("\nnilai b =",b)

# modulus dan floor division
b %= 3
print("nilai b %= 3, nilai b menjadi",b)

b = 10
print("\nnilai b =",b)

b //= 3
print("nilai b //= 3, nilai b menjadi",b)

# pangkat atau eksponen
a = 5
print("\nnilai a =",a)
a **= 3
print("nilai a **= 3, nilai a menjadi",a)

# operasi bitwise
# OR
c = True
print("\nnilai c =",c)
c |= False
print("nilai c |= False, nilai c menjadi",c)
c = False
print("nilai c =",c)
c |= False
print("nilai c |= False, nilai c menjadi",c)

# AND
c = True
print("\nnilai c =",c)
c &= False
print("nilai c &= False, nilai c menjadi",c)
c = True
print("nilai c =",c)
c &= True
print("nilai c &= True, nilai c menjadi",c)

# XOR
c = True
print("\nnilai c =",c)
c ^= False
print("nilai c ^= False, nilai c menjadi",c)
c = True
print("nilai c =",c)
c ^= True
print("nilai c ^= True, nilai c menjadi",c)

# geser geser
d = 0b0100
print("\nnilai d =",format(d,'04b'))
d >>= 2
print("nilai d >>= 2, nilai d menjadi",format(d,'04b'))
d <<= 1
print("nilai d <<= 1, nilai d menjadi",format(d,'04b'))

nilai a = 5
nilai a += 1, nilai a menjadi 6
nilai a -= 2, nilai a menjadi 4
nilai a *= 5, nilai a menjadi 20
nilai a /= 2, nilai a menjadi 10.0

nilai b = 10
nilai b %= 3, nilai b menjadi 1

nilai b = 10
nilai b //= 3, nilai b menjadi 3

nilai a = 5
nilai a **= 3, nilai a menjadi 125

nilai c = True
nilai c |= False, nilai c menjadi True
nilai c = False
nilai c |= False, nilai c menjadi False

nilai c = True
nilai c &= False, nilai c menjadi False
nilai c = True
nilai c &= True, nilai c menjadi True

nilai c = True
nilai c ^= False, nilai c menjadi True
nilai c = True
nilai c ^= True, nilai c menjadi False

nilai d = 0100
nilai d >>= 2, nilai d menjadi 0001
nilai d <<= 1, nilai d menjadi 0010

### #13 Pengenalan String

In [7]:
data = "ini adalah string"
print(data)
print(type(data))

# 1. cara membuat string

'''
    1. dengan menggunakan single quote '...'
    2. dengan menggunakan double quote "..."
'''

data = 'Menggunakan single quote'
print(data)

data = "Menggunakan double quote"
print(data)

print('"Halo, apa kabar?"')
print("'Halo, apa kabar?'")
print("ini adalah hari jum'at")

# 2. Menggunakan tanda \

# membuat tanda ' menjadi string
print('mari shalat jum\'at')
print('g\'day, isn\'t it?')

# backlash
print("C:\\user\\Ucup")

# tab
print("ucup\t\t\totong, semakin jauhan")

# backspace
print("ucup \botong, jadi deketan")

# newline
print("baris pertama.\nbaris kedua.") # LF -> line feed -> unix, macos, linux
print("baris pertama.\rbaris kedua.") # CR -> carriage return -> commodore, acorn, lisp 
print("baris pertama.\r\nbaris kedua.") # CRLF -> line feed carriage return -> dipakai oleh windows

# 3. String literal atau raw

# hati-hati
print('C:\new folder') # akan salah pathnya

# menggunakan raw string
print(r'C:\new folder')

# multiline literal string
print("""
Nama : Ucup
Kelas : 3 SD   
""")

# multiline literal string dan RAW
print(r"""
Nama : Ucup
Kelas : 3 SD\new normal 
Website : www.ucup.com/newID
""")

ini adalah string
<class 'str'>
Menggunakan single quote
Menggunakan double quote
"Halo, apa kabar?"
'Halo, apa kabar?'
ini adalah hari jum'at
mari shalat jum'at
g'day, isn't it?
C:\user\Ucup
ucup			otong, semakin jauhan
ucup otong, jadi deketan
baris pertama.
baris kedua.
baris kedua.
baris pertama.
baris kedua.
C:
ew folder
C:\new folder

Nama : Ucup
Kelas : 3 SD


Nama : Ucup
Kelas : 3 SD\new normal
Website : www.ucup.com/newID

### #14 Operasi dan Manipulasi String (Part 1)

In [8]:
# Operasi dan Memanipulasi String

# 1. Menyambung String (concatenate)
nama_pertama = "Ucup"
nama_tengah = "D"
nama_akhir = "Fame"

nama_lengkap = nama_pertama + nama_tengah + nama_akhir
print(nama_lengkap)

nama_lengkap = nama_pertama + " " + nama_tengah + "'" + nama_akhir
print(nama_lengkap)

# 2. Menghitung panjang string
panjang = len(nama_lengkap)
print("panjang " + nama_lengkap + " adalah " + str(panjang))

# 3. operator untuk string

# cek apakah ada komponen pada sebuah string
d = "d"
status = d in nama_lengkap
print("apakah " + d + " ada di " + nama_lengkap + ", " + str(status))

D = "D"
status = D in nama_lengkap
print("apakah " + D + " ada di " + nama_lengkap + ", " + str(status))

x = "x"
status = x not in nama_lengkap
print("apakah " + x + " tidak ada di " + nama_lengkap + ", " + str(status))

# mengulang string
print("wk"*100)
print(100*"wk")

# indexing
print("index ke-0 : " + nama_lengkap[0]) # dimulai dari 0
print("index ke-6 : " + nama_lengkap[6]) # index bebas
print("index ke-(-1) : " + nama_lengkap[-1]) # indexing dari dibelakang
print("index ke-[6,8) : " + nama_lengkap[6:8]) # dimulai dari index 6 sampai sebelum 8
print("index ke-[0,2,4,6,8] : " + nama_lengkap[0:10:2]) # diambil index 0,2,4,6,8

# item paling kecil
print("nilai terkecil : " + min(nama_lengkap))
# item paling besar
print("nilai terbesar : " + max(nama_lengkap))

ascii_code = ord(" ")
print("ASCII number dari spasi : " + str(ascii_code))
data = 117
print("Character dari ascii code 117 : " + chr(data))

# 4. operator dalam bentuk method

data = "otong surotong pararotong"
jumlah = data.count("o")
print("jumlah o di " + data + " : " + str(jumlah))

UcupDFame
Ucup D'Fame
panjang Ucup D'Fame adalah 11
apakah d ada di Ucup D'Fame, False
apakah D ada di Ucup D'Fame, True
apakah x tidak ada di Ucup D'Fame, True
wkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwk
wkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwkwk
index ke-0 : U
index ke-6 : '
index ke-(-1) : e
index ke-[6,8) : 'F
index ke-[0,2,4,6,8] : Uu 'a
nilai terkecil :
nilai terbesar : u
ASCII number dari spasi : 32
Character dari ascii code 117 : u
jumlah o di otong surotong pararotong : 6

### #15 Operasi dan Manipulasi String (Part 2)

In [9]:
# operator dalam bentuk methods

## merubah case pada string

# merubah semua ke upper case
salam = "bro!"
print("normal " + salam)
salam = salam.upper()
print("upper " + salam)

# merubah semua ke lower case
alay = "aKu KeCe AbieeZZZ"
print("normal " + alay)
alay = alay.lower()
print("lower " + alay)

## method is, untuk pengecekan

# contoh isupper()
salam = "SIST"
apakah_upper = salam.isupper()
print(salam + " is upper? " + str(apakah_upper))
salam = salam.lower()
apakah_upper = salam.isupper()
print(salam + " is upper? " + str(apakah_upper))

# islower() <- untuk pengecekan apakah lower case semua
# isalpha() <- untuk mengecek apakah huruf semua
# isalnum() <- apakah huruf dan angka
# isdecimal() <- apakah numeric
# isspace() <- apakah isinya spasi, tab dan enter (newline \n)
# istitle() <- huruf pertama setiap kata upper case

judul = "It Is Okay To Not Be Orkay"
cek_judul = judul.istitle()
print(judul + " is title? " + str(cek_judul))

# startwith() dan endwith() <-- keren

cek_start = "Sangjangnim Oppa".startswith("Sangjangnim")
print("start " + str(cek_start))
cek_end = "Sangjangnim Oppak".endswith("Oppak")
print("end " + str(cek_end))

# join() dan split() <-- buat orang males

pisah = ['aku','sayang','kamu']
gabungan = ' ehm '.join(pisah)
print(pisah)
print(gabungan)

gabungan = "naik vespa keliling kota"
pisah = gabungan.split()
print(gabungan)
print(pisah)

gabungan = "naikehmvespaehmkelilingehmkota"
pisah = gabungan.split("ehm")
print(gabungan)
print(pisah)

# alokasi karakter
print("'kiri      '")

kanan = "kanan".rjust(20) # rata kanan dengan 20 karakter
print("'" + kanan + "'")

kiri = "kiri".ljust(20) # rata kiri dengan 20 karakter
print("'" + kiri + "'")

tengah ="tengah".center(20) # rata tengah dengan 20 karakter
print("'" + tengah + "'")

tengah ="tengah".center(20,'-') # rata tengah dengan 20 karakter
print("'" + tengah + "'")

# kebalikan dari alokasi karakter
kanan = kanan.strip()
print("'" + kanan + "'")
tengah = tengah.strip('-')
print("'" + tengah + "'")

normal bro!
upper BRO!
normal aKu KeCe AbieeZZZ
lower aku kece abieezzz
SIST is upper? True
sist is upper? False
It Is Okay To Not Be Orkay is title? True
start True
end True
['aku', 'sayang', 'kamu']
aku ehm sayang ehm kamu
naik vespa keliling kota
['naik', 'vespa', 'keliling', 'kota']
naikehmvespaehmkelilingehmkota
['naik', 'vespa', 'keliling', 'kota']
'kiri      '
'               kanan'
'kiri                '
'       tengah       '
'-------tengah-------'
'kanan'
'tengah'

### #16 Format String

In [10]:
# format string

# contoh generic
# string
nama = "ucup"
format_str = f"hello {nama}"
print(format_str)

# boolean
boolean = False
format_str = f"boolean = {boolean}"
print(format_str)

# angka
angka = 2005.5
format_str = f"angka = {angka}"
print(format_str)

# bilangan bulat
angka = 15
format_str = f"bilangan bulat = {angka:d}"
print(format_str)

# bilangan dengan ordo ribuan
angka = 2000000
format_str = f"jutaan = {angka:,}"
print(format_str)

# bilangan desimal
angka = 2005.54321
format_str = f"desimal = {angka:.3f}"
print(format_str)

# menampilkan leading zero
angka = 2005.54321
format_str = f"desimal = {angka:010.3f}"
print(format_str)

# menampilkan tanda + atau -
angka_minus = -10
angka_plus = +10.1234
format_minus = f"minus = {angka_minus:+d}"
format_plus = f"plus = {angka_plus:+.2f}"

print(format_minus)
print(format_plus)

# memformat persen
persentase = 0.045
format_persen = f"persen = {persentase:.2%}"

print(format_persen)

# melakukan operasi aritmatika di dalam placeholder
harga = 10000
jumlah = 5

format_string = f"harga total = Rp. {harga*jumlah:,}"
print(format_string)

# format angka lain (binary, octal, hexadecimal)

angka = 255
format_binary = f"binary = {bin(angka)}"
format_octal = f"octal = {oct(angka)}"
format_hex = f"hex = {hex(angka)}"

print(format_binary)
print(format_octal)
print(format_hex)

hello ucup
boolean = False
angka = 2005.5
bilangan bulat = 15
jutaan = 2,000,000
desimal = 2005.543
desimal = 002005.543
minus = -10
plus = +10.12
persen = 4.50%
harga total = Rp. 50,000
binary = 0b11111111
octal = 0o377
hex = 0xff

### #17 Format String Width and Alignment

In [11]:
# Width and Multiline

# Data

data_nama = "Ucup Surucup"
data_umur = 17
data_tinggi = 150.1
data_nomor_sepatu = 44

# string standard
data_string = f"nama = {data_nama}, umur = {data_umur}, tinggi = {data_tinggi}, sepatu = {data_nomor_sepatu}"
print(5*"="+"Data String"+5*"=")
print(data_string)

# String multiline (dengan menggunakan enter, newline, \n)
data_string = f"nama = {data_nama}, \numur = {data_umur}, \ntinggi = {data_tinggi}, \nsepatu = {data_nomor_sepatu}"
print("\n"+5*"="+"Data String"+5*"=")
print(data_string)

# String multiline (kutip triplets)
data_string = f"""nama = {data_nama}
umur = {data_umur}
tinggi = {data_tinggi}
sepatu = {data_nomor_sepatu}
"""
print("\n"+5*"="+"Data String"+5*"=")
print(data_string)

# mengatur lebar
data_nama = "Ucup Surucup"
data_tinggi = 105.17
data_string = f"""
nama   = {data_nama:>5}
umur   = {data_umur:>5}
tinggi = {data_tinggi:>5}
sepatu = {data_nomor_sepatu:>5}
"""
print("\n"+5*"="+"Data String"+5*"=")
print(data_string)

=====Data String=====
nama = Ucup Surucup, umur = 17, tinggi = 150.1, sepatu = 44

=====Data String=====
nama = Ucup Surucup,
umur = 17,
tinggi = 150.1,
sepatu = 44

=====Data String=====
nama = Ucup Surucup
umur = 17
tinggi = 150.1
sepatu = 44


=====Data String=====

nama   = Ucup Surucup
umur   =    17
tinggi = 105.17
sepatu =    44

### #18 Date and Time (Latihan)

In [13]:
# Date and time (latihan)

import datetime as dt

print("Silahkan masukan tanggal, \nbulan dan tahun lahir anda \n")
tanggal = int(input("Tanggal \t: "))
bulan = int(input("Bulan \t\t: "))
tahun = int(input("Tahun \t\t: "))

tanggal_lahir = dt.date(tahun,bulan,tanggal)
print(f"Tanggal lahir anda adalah : {tanggal_lahir}")

hari_ini = dt.date.today()
print(f"Hari ini tanggal: {hari_ini}")
umur_hari = hari_ini - tanggal_lahir
umur_tahun = umur_hari.days // 365
umur_bulan_sisa = (umur_hari.days % 365) // 30

print(f"Hari nya adalah : {tanggal_lahir:%A}")
print(f"Umur anda adalah: {umur_tahun} tahun, {umur_bulan_sisa} bulan")

Silahkan masukan tanggal,
bulan dan tahun lahir anda

Tanggal 	: 28
Bulan 		: 12
Tahun 		: 1991
Tanggal lahir anda adalah : 1991-12-28
Hari ini tanggal: 2022-09-08
Hari nya adalah : Saturday
Umur anda adalah: 30 tahun, 8 bulan