<a href="https://colab.research.google.com/github/ardwiinoo/python/blob/main/basic/basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### #1 Hello World

In [ ]:
import time
start_time = time.time()

print("Hello World!")

# Comment single line

print(time.time() - start_time, "detik")

Hello World!
0.001739501953125 detik

### #2 Variabel

In [ ]:
# tempat menyimpan data
# assignment nilai / menaruh
a = 10
x = 5
seribu = 1000

print("Nilai a = ", a)
print("Nilai x = ", x)
print("Nilai seribu = ", seribu)

# penamaan
nilai_y = 15 
juta10 = 10000000 # 10juta = ... ini ga boleh ges
nilaiZ = 17.5

a = 7
print("Nilai a = ", a)

# assignment indirect
b = a
print("Nilai b = ", b)

Nilai a =  10
Nilai x =  5
Nilai seribu =  1000
Nilai a =  7
Nilai b =  7

### #3 Tipe Data

In [ ]:
# tipe data: Angka satuan (integer)
data_integer = 1
print("data : ", data_integer, ", bertipe : ", type(data_integer))

# tipe data: Angka dengan koma (float)
data_float = 1.5
print("data : ", data_float, ", bertipe : ", type(data_float))

# tipe data: Kumpulan karakter (string)
data_string = "Awas jatoh"
print("data : ", data_string, ", bertipe : ", type(data_string))

# tipe data: Biner true/false (boolean)
data_bool = True
print("data : ", data_bool, ", bertipe : ", type(data_bool))

## tipe data khusus
# bilangan kompleks
data_complex = complex(5,6)
print("data : ", data_complex, ", bertipe : ", type(data_complex))

# tipe data dari bahasa C
from ctypes import c_double, c_char, c_long

data_c_double = c_double(10.5)
print("data : ", data_c_double, ", bertipe : ", type(data_c_double))

data :  1 , bertipe :  <class 'int'>
data :  1.5 , bertipe :  <class 'float'>
data :  Awas jatoh , bertipe :  <class 'str'>
data :  True , bertipe :  <class 'bool'>
data :  (5+6j) , bertipe :  <class 'complex'>
data :  c_double(10.5) , bertipe :  <class 'ctypes.c_double'>

### #4 Casting Tipe Data

In [ ]:
# merubah satu tipe ke tipe lain

data_int = 9
print("data : ", data_int, ", bertipe : ", type(data_int))

data_float = float(data_int)
data_str = str(data_int)
data_bool = bool(data_int)

print("data : ", data_float, ", bertipe : ", type(data_float))
print("data : ", data_str, ", bertipe : ", type(data_str))
print("data : ", data_bool, ", bertipe : ", type(data_bool)) # 0 = false, != 0 true

data_int = int(data_float)
print("data : ", data_int, ", bertipe : ", type(data_int)) # dibulatkan kebawah

data :  9 , bertipe :  <class 'int'>
data :  9.0 , bertipe :  <class 'float'>
data :  9 , bertipe :  <class 'str'>
data :  True , bertipe :  <class 'bool'>
data :  9 , bertipe :  <class 'int'>

### #5 Mengambil Input User

In [ ]:
data = input("Masukkan data: ")
print("data = ", data, ", type = ", type(data))

data = int(input("Masukkan data: "))
print("data = ", data, ", type = ", type(data))

data = float(input("Masukkan data: "))
print("data = ", data, ", type = ", type(data))

data = bool(int(input("Masukkan data: ")))
print("data = ", data, ", type = ", type(data))

Masukkan data: 100
data =  100 , type =  <class 'str'>
Masukkan data: 2
data =  2 , type =  <class 'int'>
Masukkan data: 2.6
data =  2.6 , type =  <class 'float'>
Masukkan data: 0
data =  False , type =  <class 'bool'>

### #6 Aritmatika

In [ ]:
a = 10
b = 3

hasil = a + b
print(a, '+', b, '=', hasil)

hasil = a - b
print(a, '-', b, '=', hasil)

hasil = a / b
print(a, '/', b, '=', hasil)

hasil = a * b
print(a, '*', b, '=', hasil)

# eksponen (pangkat)
hasil = a ** b
print(a, '**', b, '=', hasil)

# modulus (sisa bagi)
hasil = a % b
print(a, '%', b, '=', hasil)

# floor division (bagi tapi double, kebalikan modulus)
hasil = a // b
print(a, '//', b, '=', hasil)

# prioritas operasi
"""
  1. ()
  2. exponen **
  3. perkalian dan teman-teman * / ** % //
  4. pertambahan dan pengurangan
"""
x = 3
y = 2
z = 4

hasil = x ** y * z + x / y - y % z // x
print("Hasil = ", hasil)

10 + 3 = 13
10 - 3 = 7
10 / 3 = 3.3333333333333335
10 * 3 = 30
10 ** 3 = 1000
10 % 3 = 1
10 // 3 = 3
Hasil =  37.5

### #7 Perhitungan Sederhana

In [1]:
# Program konversi suhu

print("PROGRAM KONVERSI TEMPERATUR");

celcius = float(input("Masukkan suhu dalam celcius : "))
print("Suhu adalah = ", celcius, " celcius")

# Reamur
reamur = (4/5) * celcius
print("Suhu adalah = ", reamur, " reamur")

# Fahrenheit
fahrenheit = ((9/5) * celcius) + 32
print("Suhu adalah = ", fahrenheit, " fahrenheit")

# Kelvin
kelvin = celcius + 273
print("Suhu adalah = ", kelvin, " kelvin")

PROGRAM KONVERSI TEMPERATUR
Masukkan suhu dalam celcius : 10
Suhu adalah =  10.0  celcius
Suhu adalah =  8.0  reamur
Suhu adalah =  50.0  fahrenheit
Suhu adalah =  283.0  kelvin

### #8 Operasi Komparasi

In [2]:
# operasi komparasi

# setiap hasil dari operasi komparasi adalah boolean

# >,<,>=,<=,==,!=,is,is not

a = 4
b = 2

# lebih besar dari >
print('========== lebih besar dari (>)')
hasil = a > 3
print(a,'>',3,'=',hasil)
hasil = b > 3
print(b,'>',3,'=',hasil)
hasil = b > 2
print(b,'>',2,'=',hasil)

# kurang dari <
print('========== kurang dari (<)')
hasil = a < 3
print(a,'<',3,'=',hasil)
hasil = b < 3
print(b,'<',3,'=',hasil)
hasil = b < 2
print(b,'<',2,'=',hasil)

# lebih dari sama dengan >=
print('========== lebih dari sama dengan(>=)')
hasil = a >= 3
print(a,'>=',3,'=',hasil)
hasil = b >= 3
print(b,'>=',3,'=',hasil)
hasil = b >= 2
print(b,'>=',2,'=',hasil)

# kurang dari sama dengan <=
print('======== kurang dari sama dengan(<=)')
hasil = a <= 3
print(a,'<=',3,'=',hasil)
hasil = b <= 3
print(b,'<=',3,'=',hasil)
hasil = b <= 2
print(b,'<=',2,'=',hasil)

# sama dengan (==)
print('======== sama dengan(==)')
hasil = a == 4
print(a,'==',4,'=',hasil)
hasil = b == 4
print(b,'==',4,'=',hasil)

# tidak sama dengan (!=)
print('======== sama dengan(!=)')
hasil = a != 4
print(a,'!=',4,'=',hasil)
hasil = b != 4
print(b,'!=',4,'=',hasil)

# 'is' sebagai komparasi object identity
print('======== object identity(is)')
x = 5 # ini adalah assignment membuat object
y = 5
print('nilai x =',x,',id = ',hex(id(x)))
print('nilai y =',y,',id = ',hex(id(y)))
hasil = x is y
print('x is y =',hasil)

x = 5 # ini adalah assignment membuat object
y = 6
print('nilai x =',x,',id = ',hex(id(x)))
print('nilai y =',y,',id = ',hex(id(y)))
hasil = x is y
print('x is y =',hasil)

print('======== object identity(is not)')
x = 5 # ini adalah assignment membuat object
y = 5
print('nilai x =',x,',id = ',hex(id(x)))
print('nilai y =',y,',id = ',hex(id(y)))
hasil = x is not y
print('x is y =',hasil)

x = 5 # ini adalah assignment membuat object
y = 6
print('nilai x =',x,',id = ',hex(id(x)))
print('nilai y =',y,',id = ',hex(id(y)))
hasil = x is not y
print('x is y =',hasil)

========== lebih besar dari (>)
4 > 3 = True
2 > 3 = False
2 > 2 = False
========== kurang dari (<)
4 < 3 = False
2 < 3 = True
2 < 2 = False
========== lebih dari sama dengan(>=)
4 >= 3 = True
2 >= 3 = False
2 >= 2 = True
======== kurang dari sama dengan(<=)
4 <= 3 = False
2 <= 3 = True
2 <= 2 = True
======== sama dengan(==)
4 == 4 = True
2 == 4 = False
======== sama dengan(!=)
4 != 4 = False
2 != 4 = True
======== object identity(is)
nilai x = 5 ,id =  0xabc180
nilai y = 5 ,id =  0xabc180
x is y = True
nilai x = 5 ,id =  0xabc180
nilai y = 6 ,id =  0xabc1a0
x is y = False
======== object identity(is not)
nilai x = 5 ,id =  0xabc180
nilai y = 5 ,id =  0xabc180
x is y = False
nilai x = 5 ,id =  0xabc180
nilai y = 6 ,id =  0xabc1a0
x is y = True

### #9 Operasi Logika Boolean

In [3]:
# operasi logika atau boolean

# not, or, and, xor

# NOT
print('====NOT====')
a = False
c = not a
print('data a =',a)
print('-------------- NOT')
print('data c =',c)

# OR (jika salah satu true, maka hasilnya adalah true)
print('====OR====')
a = False
b = False
c = a or b
print(a,'OR',b,'=',c)
a = False
b = True
c = a or b
print(a,'OR',b,' =',c)
a = True
b = False
c = a or b
print(a,' OR',b,'=',c)
a = True
b = True
c = a or b
print(a,' OR',b,' =',c)

# AND (jika dua buah nilai true, maka hasil true)
print('====AND====')
a = False
b = False
c = a and b
print(a,'AND',b,'=',c)
a = False
b = True
c = a and b
print(a,'AND',b,' =',c)
a = True
b = False
c = a and b
print(a,' AND',b,'=',c)
a = True
b = True
c = a and b
print(a,' AND',b,' =',c)

# XOR (akan true jika salah satu true, sisanya false)
print('====XOR====')
a = False
b = False
c = a ^ b
print(a,'XOR',b,'=',c)
a = False
b = True
c = a ^ b
print(a,'XOR',b,' =',c)
a = True
b = False
c = a ^ b
print(a,' XOR',b,'=',c)
a = True
b = True
c = a ^ b
print(a,' XOR',b,' =',c)

====NOT====
data a = False
-------------- NOT
data c = True
====OR====
False OR False = False
False OR True  = True
True  OR False = True
True  OR True  = True
====AND====
False AND False = False
False AND True  = False
True  AND False = False
True  AND True  = True
====XOR====
False XOR False = False
False XOR True  = True
True  XOR False = True
True  XOR True  = False

### #10 Latihan Komparasi dan Logika

In [4]:
# episode latihan logika dan komparasi

# membuat gabungan area rentang dari angka

# ++++++3--------10+++++++

inputUser = float(input("masukan angka yang bernilai\nkurang dari 3 \natau \nlebih besar dari 10\n:"))

# ++++++3-----------------
# Memeriksa angka kurang dari 3
isKurangDari = (inputUser < 3)
print("Kurang dari 3 =", isKurangDari)

# ---------------10++++++++
# Memeriksa angka lebih dari 10
isLebihDari = (inputUser > 10)
print("Lebih dari 10 =", isLebihDari)

# ++++++3--------10+++++++

isCorrect = isKurangDari or isLebihDari
print("angka yang anda masukan: ", isCorrect)


# -----3++++++++10--------
# kasus irisan
print("\n",10*"=","\n")
inputUser = float(input("masukan angka yang bernilai\nlebih dari 3 \ndan \nkurang dari 10\n:"))

# -----3++++++++++++++++++
# lebih dari 3
isLebihDari = inputUser > 3
print("Lebih dari 3 = ",isLebihDari)

# +++++++++++++++10-------
# kurang dari 10
isKurangDari = inputUser < 10
print("Kurang dari 10 = ",isKurangDari)

# -----3++++++++10--------
isCorrect = isKurangDari and isLebihDari
print("angka yang anda masukan: ", isCorrect)

masukan angka yang bernilai
kurang dari 3
atau
lebih besar dari 10
:1
Kurang dari 3 = True
Lebih dari 10 = False
angka yang anda masukan:  True

 ==========

masukan angka yang bernilai
lebih dari 3
dan
kurang dari 10
:8
Lebih dari 3 =  True
Kurang dari 10 =  True
angka yang anda masukan:  True

### #11 Operator Bitwise

In [5]:
# episode operator bitwise, operasi biner, binary

a = 9
b = 5

# bitwise OR (|)
c = a | b
print('\n=========OR=========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('nilai :',b,' , binary :',format(b,'08b'))
print('----------------------------- (|)')
print('nilai :',c,' , binary :',format(c,'08b'))

# bitwise AND (&)
c = a & b
print('\n=========AND========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('nilai :',b,' , binary :',format(b,'08b'))
print('----------------------------- (&)')
print('nilai :',c,' , binary :',format(c,'08b'))

# bitwise XOR (^)
c = a ^ b
print('\n=========XOR========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('nilai :',b,' , binary :',format(b,'08b'))
print('----------------------------- (^)')
print('nilai :',c,' , binary :',format(c,'08b'))

# bitwise NOT (~)
c = ~a
print('\n=========NOT========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('----------------------------- (~)')
print('nilai :',c,' , binary :',format(c,'08b'))
print('----------------------------- (^)')
d = 0b0000001001
e = 0b1111111111
print('nilai :',e^d,' , binary :',format(e^d,'08b'))

# shifting

# shift right (>>)
c = a >> 2
print('\n=========>>=========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('----------------------------- (>>)')
print('nilai :',c,' , binary :',format(c,'08b'))

# shift left (<<)
c = a << 2
print('\n=========<<=========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('----------------------------- (<<)')
print('nilai :',c,' , binary :',format(c,'08b'))

=========OR=========
nilai : 9  , binary : 00001001
nilai : 5  , binary : 00000101
----------------------------- (|)
nilai : 13  , binary : 00001101

=========AND========
nilai : 9  , binary : 00001001
nilai : 5  , binary : 00000101
----------------------------- (&)
nilai : 1  , binary : 00000001

=========XOR========
nilai : 9  , binary : 00001001
nilai : 5  , binary : 00000101
----------------------------- (^)
nilai : 12  , binary : 00001100

=========NOT========
nilai : 9  , binary : 00001001
----------------------------- (~)
nilai : -10  , binary : -0001010
----------------------------- (^)
nilai : 1014  , binary : 1111110110

=========>>=========
nilai : 9  , binary : 00001001
----------------------------- (>>)
nilai : 2  , binary : 00000010

=========<<=========
nilai : 9  , binary : 00001001
----------------------------- (<<)
nilai : 36  , binary : 00100100

### #12 Operator Assignment

In [6]:
# operasi yang dapat dilakukan dengan penyingkatan
# operasi ditambah dengan assignment

a = 5 # adalah assignment
print("nilai a =",a)

a += 1 # artinya adalah a = a + 1
print("nilai a += 1, nilai a menjadi",a)

a -= 2 # artinya adalah a = a - 2
print("nilai a -= 2, nilai a menjadi",a)

a *= 5 # artinya adalah a = a * 5
print("nilai a *= 5, nilai a menjadi",a)

a /= 2 # artinya adalah a = a / 2
print("nilai a /= 2, nilai a menjadi",a)

b = 10
print("\nnilai b =",b)

# modulus dan floor division
b %= 3
print("nilai b %= 3, nilai b menjadi",b)

b = 10
print("\nnilai b =",b)

b //= 3
print("nilai b //= 3, nilai b menjadi",b)

# pangkat atau eksponen
a = 5
print("\nnilai a =",a)
a **= 3
print("nilai a **= 3, nilai a menjadi",a)

# operasi bitwise
# OR
c = True
print("\nnilai c =",c)
c |= False
print("nilai c |= False, nilai c menjadi",c)
c = False
print("nilai c =",c)
c |= False
print("nilai c |= False, nilai c menjadi",c)

# AND
c = True
print("\nnilai c =",c)
c &= False
print("nilai c &= False, nilai c menjadi",c)
c = True
print("nilai c =",c)
c &= True
print("nilai c &= True, nilai c menjadi",c)

# XOR
c = True
print("\nnilai c =",c)
c ^= False
print("nilai c ^= False, nilai c menjadi",c)
c = True
print("nilai c =",c)
c ^= True
print("nilai c ^= True, nilai c menjadi",c)

# geser geser
d = 0b0100
print("\nnilai d =",format(d,'04b'))
d >>= 2
print("nilai d >>= 2, nilai d menjadi",format(d,'04b'))
d <<= 1
print("nilai d <<= 1, nilai d menjadi",format(d,'04b'))

nilai a = 5
nilai a += 1, nilai a menjadi 6
nilai a -= 2, nilai a menjadi 4
nilai a *= 5, nilai a menjadi 20
nilai a /= 2, nilai a menjadi 10.0

nilai b = 10
nilai b %= 3, nilai b menjadi 1

nilai b = 10
nilai b //= 3, nilai b menjadi 3

nilai a = 5
nilai a **= 3, nilai a menjadi 125

nilai c = True
nilai c |= False, nilai c menjadi True
nilai c = False
nilai c |= False, nilai c menjadi False

nilai c = True
nilai c &= False, nilai c menjadi False
nilai c = True
nilai c &= True, nilai c menjadi True

nilai c = True
nilai c ^= False, nilai c menjadi True
nilai c = True
nilai c ^= True, nilai c menjadi False

nilai d = 0100
nilai d >>= 2, nilai d menjadi 0001
nilai d <<= 1, nilai d menjadi 0010

### #13 Pengenalan String

In [7]:
data = "ini adalah string"
print(data)
print(type(data))

# 1. cara membuat string

'''
    1. dengan menggunakan single quote '...'
    2. dengan menggunakan double quote "..."
'''

data = 'Menggunakan single quote'
print(data)

data = "Menggunakan double quote"
print(data)

print('"Halo, apa kabar?"')
print("'Halo, apa kabar?'")
print("ini adalah hari jum'at")

# 2. Menggunakan tanda \

# membuat tanda ' menjadi string
print('mari shalat jum\'at')
print('g\'day, isn\'t it?')

# backlash
print("C:\\user\\Ucup")

# tab
print("ucup\t\t\totong, semakin jauhan")

# backspace
print("ucup \botong, jadi deketan")

# newline
print("baris pertama.\nbaris kedua.") # LF -> line feed -> unix, macos, linux
print("baris pertama.\rbaris kedua.") # CR -> carriage return -> commodore, acorn, lisp 
print("baris pertama.\r\nbaris kedua.") # CRLF -> line feed carriage return -> dipakai oleh windows

# 3. String literal atau raw

# hati-hati
print('C:\new folder') # akan salah pathnya

# menggunakan raw string
print(r'C:\new folder')

# multiline literal string
print("""
Nama : Ucup
Kelas : 3 SD   
""")

# multiline literal string dan RAW
print(r"""
Nama : Ucup
Kelas : 3 SD\new normal 
Website : www.ucup.com/newID
""")

ini adalah string
<class 'str'>
Menggunakan single quote
Menggunakan double quote
"Halo, apa kabar?"
'Halo, apa kabar?'
ini adalah hari jum'at
mari shalat jum'at
g'day, isn't it?
C:\user\Ucup
ucup			otong, semakin jauhan
ucup otong, jadi deketan
baris pertama.
baris kedua.
baris kedua.
baris pertama.
baris kedua.
C:
ew folder
C:\new folder

Nama : Ucup
Kelas : 3 SD


Nama : Ucup
Kelas : 3 SD\new normal
Website : www.ucup.com/newID