<a href="https://colab.research.google.com/github/ardwiinoo/python/blob/main/basic/basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### #1 Hello World

In [ ]:
import time
start_time = time.time()

print("Hello World!")

# Comment single line

print(time.time() - start_time, "detik")

Hello World!
0.001739501953125 detik

### #2 Variabel

In [ ]:
# tempat menyimpan data
# assignment nilai / menaruh
a = 10
x = 5
seribu = 1000

print("Nilai a = ", a)
print("Nilai x = ", x)
print("Nilai seribu = ", seribu)

# penamaan
nilai_y = 15 
juta10 = 10000000 # 10juta = ... ini ga boleh ges
nilaiZ = 17.5

a = 7
print("Nilai a = ", a)

# assignment indirect
b = a
print("Nilai b = ", b)

Nilai a =  10
Nilai x =  5
Nilai seribu =  1000
Nilai a =  7
Nilai b =  7

### #3 Tipe Data

In [ ]:
# tipe data: Angka satuan (integer)
data_integer = 1
print("data : ", data_integer, ", bertipe : ", type(data_integer))

# tipe data: Angka dengan koma (float)
data_float = 1.5
print("data : ", data_float, ", bertipe : ", type(data_float))

# tipe data: Kumpulan karakter (string)
data_string = "Awas jatoh"
print("data : ", data_string, ", bertipe : ", type(data_string))

# tipe data: Biner true/false (boolean)
data_bool = True
print("data : ", data_bool, ", bertipe : ", type(data_bool))

## tipe data khusus
# bilangan kompleks
data_complex = complex(5,6)
print("data : ", data_complex, ", bertipe : ", type(data_complex))

# tipe data dari bahasa C
from ctypes import c_double, c_char, c_long

data_c_double = c_double(10.5)
print("data : ", data_c_double, ", bertipe : ", type(data_c_double))

data :  1 , bertipe :  <class 'int'>
data :  1.5 , bertipe :  <class 'float'>
data :  Awas jatoh , bertipe :  <class 'str'>
data :  True , bertipe :  <class 'bool'>
data :  (5+6j) , bertipe :  <class 'complex'>
data :  c_double(10.5) , bertipe :  <class 'ctypes.c_double'>

### #4 Casting Tipe Data

In [ ]:
# merubah satu tipe ke tipe lain

data_int = 9
print("data : ", data_int, ", bertipe : ", type(data_int))

data_float = float(data_int)
data_str = str(data_int)
data_bool = bool(data_int)

print("data : ", data_float, ", bertipe : ", type(data_float))
print("data : ", data_str, ", bertipe : ", type(data_str))
print("data : ", data_bool, ", bertipe : ", type(data_bool)) # 0 = false, != 0 true

data_int = int(data_float)
print("data : ", data_int, ", bertipe : ", type(data_int)) # dibulatkan kebawah

data :  9 , bertipe :  <class 'int'>
data :  9.0 , bertipe :  <class 'float'>
data :  9 , bertipe :  <class 'str'>
data :  True , bertipe :  <class 'bool'>
data :  9 , bertipe :  <class 'int'>

### #5 Mengambil Input User

In [ ]:
data = input("Masukkan data: ")
print("data = ", data, ", type = ", type(data))

data = int(input("Masukkan data: "))
print("data = ", data, ", type = ", type(data))

data = float(input("Masukkan data: "))
print("data = ", data, ", type = ", type(data))

data = bool(int(input("Masukkan data: ")))
print("data = ", data, ", type = ", type(data))

Masukkan data: 100
data =  100 , type =  <class 'str'>
Masukkan data: 2
data =  2 , type =  <class 'int'>
Masukkan data: 2.6
data =  2.6 , type =  <class 'float'>
Masukkan data: 0
data =  False , type =  <class 'bool'>

### #6 Aritmatika

In [ ]:
a = 10
b = 3

hasil = a + b
print(a, '+', b, '=', hasil)

hasil = a - b
print(a, '-', b, '=', hasil)

hasil = a / b
print(a, '/', b, '=', hasil)

hasil = a * b
print(a, '*', b, '=', hasil)

# eksponen (pangkat)
hasil = a ** b
print(a, '**', b, '=', hasil)

# modulus (sisa bagi)
hasil = a % b
print(a, '%', b, '=', hasil)

# floor division (bagi tapi double, kebalikan modulus)
hasil = a // b
print(a, '//', b, '=', hasil)

# prioritas operasi
"""
  1. ()
  2. exponen **
  3. perkalian dan teman-teman * / ** % //
  4. pertambahan dan pengurangan
"""
x = 3
y = 2
z = 4

hasil = x ** y * z + x / y - y % z // x
print("Hasil = ", hasil)

10 + 3 = 13
10 - 3 = 7
10 / 3 = 3.3333333333333335
10 * 3 = 30
10 ** 3 = 1000
10 % 3 = 1
10 // 3 = 3
Hasil =  37.5

### #7 Perhitungan Sederhana

In [1]:
# Program konversi suhu

print("PROGRAM KONVERSI TEMPERATUR");

celcius = float(input("Masukkan suhu dalam celcius : "))
print("Suhu adalah = ", celcius, " celcius")

# Reamur
reamur = (4/5) * celcius
print("Suhu adalah = ", reamur, " reamur")

# Fahrenheit
fahrenheit = ((9/5) * celcius) + 32
print("Suhu adalah = ", fahrenheit, " fahrenheit")

# Kelvin
kelvin = celcius + 273
print("Suhu adalah = ", kelvin, " kelvin")

PROGRAM KONVERSI TEMPERATUR
Masukkan suhu dalam celcius : 10
Suhu adalah =  10.0  celcius
Suhu adalah =  8.0  reamur
Suhu adalah =  50.0  fahrenheit
Suhu adalah =  283.0  kelvin